
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* You can add global styles to this file, and also import other style files */
@mixin link-button() {
    overflow: visible; // Shrinkwrap the text in IE7-
    margin: 0;
    padding: 0;
    border: 0;
    color: blue; // Match your link colour
    background: transparent;
    font: inherit; // Inherit font settings (doesn’t work in IE7-)
    line-height: normal; // Override line-height to avoid spacing issues
    text-decoration: underline; // Make it look linky
    cursor: pointer; // Buttons don’t make the cursor change in all browsers
    -moz-user-select: text; // Make button text selectable in Gecko

    /* Remove mystery padding in Gecko browsers.
     * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
     */
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}



.button{
    padding: .6em 1.6em;
    display: inline-block;
    text-decoration: none;
}

.button--filled{
    background-color: #35b76d;
    border-radius: 999px;
    color: #fff;
    &:hover{
        background-color: saturate(lighten(#35b76d, 0%), 10%);
    }
    &:active{
        background-color: saturate(darken(#35b76d, 10%), 10%);
    }
}

.button--ghost{
    border: 2px solid #fff;
    border-radius: 999px;
    color: #fff;
}